#newsfeed {
    position: relative;
    list-style-type: none;
    padding: 0;
}

.newsfeed-item {
    display: inline-block;
    width: 100%;
    height: 170px;
}

.newsfeed-separator {
    display: block;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.challenger, .challenge-content {
    float: left;
}

.challenger {
    width: 20%;
    text-align: center;
}

.challenge-content {
    width: 60%;
    height: 100%;
}

.challenger-icon {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-color: #000000;
}

.challenger-wager {
    margin: 0;
    padding: 5px;
}

.challenge-description {
    text-align: center;
    width: 100%;
    height: 70%;
    margin: 0;
    padding: 10px
}

.challenge-left-odds, .challenge-right-odds {
    width: 50%;
    height: 30%;
    float: left;
}

.challenge-right-odds {
    text-align: right;
}