#statistics {
	background-color: #F4F4F4;
}
#history-header {
	text-align: center;
}

#challenge-overlay {
    /*display: none;*/
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 10;
}

#challenge-modal {
    position: absolute;
    width: 40%;
    height: 60%;
    left: 30%;
    top: 20%;
    background-color: #FAFAFA;
    margin: auto auto;
    z-index: 11;
}

#datetimepicker1 {
    width: 50%;
}

#cancel-button-div {
    position: relative;
}