.bet-challenger-icon {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    background-color: #000000;
}

#statistics {
	background-color: #F4F4F4;
}
#history-header {
	text-align: center;
}

#datetimepicker {
    width: 50%;
}

#cancel-button-div {
    position: relative;
}

#content-row {
    left: 10%;
    right: 10%;
    position: absolute;
}

#bet-challenger-name {
    font-size: 20px;
}

#bet-challenger {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#bet-info {
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block; 
}

#betlist-item{
    display: inline-block; 
}

#friends-col{
    text-align: center;
}