html, body {
    height: 100%;
}

.container {
    display: block;
    height: 100%;
    padding-top: 50px;
}

.content {
    width: 100%;
    height: 100%;
    background-color: #EEE;
}

.navbar {
    line-height: 46px;
}

.nav-profile {
    right: 0;
    position: absolute;
}

.nav-link {
    font-size: 20px;
    margin: 0 10px;
}

.nav-link:active, .nav-link:hover {
    text-decoration: none;
}

.settings-link {
	right: 70px;
	position: absolute;
}