html, body {
    height: 100%;
}

.container {
    display: block;
    height: 100%;
    padding-top: 50px;
}

.content {
    width: 100%;
    height: 100%;
    background-color: #EEE;
}

.navbar {
    line-height: 46px;
}

.nav-link {
    font-size: 20px;
    margin: 0 10px;
}

.nav-link:active, .nav-link:hover {
    text-decoration: none;
}

.pos-right {
	right: 0px;
	position: absolute;
}

.overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 10;
}

.modal {
    position: absolute;
    width: 40%;
    height: 60%;
    left: 30%;
    top: 20%;
    background-color: #FAFAFA;
    margin: auto auto;
    z-index: 11;
}

.image {
	width: 100px;
	height: 100px;
}

.sidebar {
	margin-top: 20px;
}

.content {
	padding: 10px;
}