@(user: User, challenge: Challenge)

<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<link rel='stylesheet' media='screen' href='@routes.Assets.at("stylesheets/style.css")'>
		<link rel='stylesheet' media='screen' href='@routes.Assets.at("stylesheets/newsfeed.css")'>
		<link rel='stylesheet' media='screen' href='@routes.Assets.at("stylesheets/bootstrap.min.css")'>
		<link rel='stylesheet' media='screen' href='@routes.Assets.at("stylesheets/bootstrap-theme.min.css")'>
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
		<title>Profile</title>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<a class="nav-profile nav-link" href="/@user.getUsername()">@user.getUsername()</a>
			<a class="settings-link" href="/settings"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
			<a class="nav-home nav-link" href="/">Callouts</a>
			<a href="/logout">Logout</a>
		</div>
		<div class="overlay">
			<div class="modal">
				@helper.form(action = routes.Callouts.betPost(Integer.toString(challenge.getChallengeId()))) {
					<div class="col-sm-9">
						<h1> Bet on this challenge! </h1>
						<ul class = "list-unstyled">
							<li><input type="hidden" value="@challenge.getChallengerUsername()" id="challenger-username" name="challenger"></li>
							<li><input type="hidden" value="@challenge.getChallengedUsername()" id="challenged-username" name="challenged"></li>
							<li><input type="hidden" value="@challenge.getTime().toString()" name="time"></li>
							<li><input type="text" placeholder="Wager" name="bet" required autofocus></li>
							<li>
								<input type="radio" name="winner" value="@challenge.getChallengerUsername()" checked/> @challenge.getChallengerUsername()
								<input type="radio" name="winner" value="@challenge.getChallengedUsername()"/> @challenge.getChallengedUsername()
							</li>
						</ul>
						<input type="submit" class="btn btn-success" value="Submit">
					</div>
				}
				<div class="col-sm-3" id="cancel-button-div">
					<button class="btn btn-danger" id="cancel-button">Cancel</button>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="content">
				<ul id="newsfeed">
					<li class="newsfeed-item">
						<div class="challenger">
							<p class="challenger-wager">@challenge.getWager()</p>
							<div class="challenger-icon"></div>
							<a class="challenger-name" href="/@challenge.getChallengerUsername()">@challenge.getChallengerUsername()</a>
							<p class="challenger-level">LVL: @challenge.getChallenger().getLevel()</p>
						</div>
						<div class="challenge-content">
							<div class="challenge-description" >
                                <h3>@challenge.getSubject() by @challenge.getTime().</h3>
                                <p style="text-align: center">Time remaining: @challenge.getTimeRemaining()</p>
                            </div>
							<div class="challenge-stats">
								<div class="challenge-left-odds">
									<h4 class="challenge-left-percent">50%</h4>
								</div>
								<div class="challenge-right-odds">
									<h4 class="challenge-right-percent">50%</h4>
								</div>
							</div>
						</div>
						<div class="challenger">
							<p class="challenger-wager">@challenge.getWager()</p>
							<div class="challenger-icon"></div>
							<a class="challenger-name" href="/@challenge.getChallengedUsername()">@challenge.getChallengedUsername</a>
							<p class="challenger-level">LVL: @challenge.getChallenged().getLevel()</p>
						</div>
						@if(user.getUsername() == challenge.getChallengedUsername() || user.getUsername() == challenge.getChallengerUsername()) {
							@helper.form(action = routes.Callouts.challengeDelete(challenge.getChallengerUsername(), challenge.getChallengedUsername(), challenge.getTime().toString())) {
								<input type="submit" value="Delete">
							}
							@helper.form(action = routes.Callouts.challengeUpdateTime(challenge.getChallengerUsername(), challenge.getChallengedUsername(), challenge.getTime().toString(), Integer.toString(challenge.getChallengeId()))) {
								<input type="submit" value="Update Time">
							}
						} else {
							<input id="bet-button" type="submit" value="Place Bet"/>
						}
					</li>
				</ul>
			</div>
		</div>
		<script src='@routes.Assets.at("javascripts/bets.js")' type="text/javascript"></script>
	</body>
</html>