<!DOCTYPE html>

<html>
    <head>
        <title>Callouts</title>
        <link rel='stylesheet' media='screen' href='@routes.Assets.at("stylesheets/main.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/newsfeed.css")'>
        <link rel='stylesheet' media="screen" href='@routes.Assets.at("stylesheets/bootstrap.min.css")'>
        <link rel='stylesheet' media='screen' href='@routes.Assets.at("stylesheets/bootstrap-theme.min.css")'>
        <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
        <script src='@routes.Assets.at("javascripts/hello.js")' type='text/javascript'></script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <ul>
                <li></li>
            </ul>
        </div>
        <div class="container">
            <div class="content" id="newsfeed">

            </div>
        </div>
    </body>
</html>
