
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel='stylesheet' media='screen' href='@routes.Assets.at("stylesheets/main.css")'>
    <link rel='stylesheet' media='screen' href='@routes.Assets.at("stylesheets/profile.css")'>
    <link rel='stylesheet' media='screen' href='@routes.Assets.at("stylesheets/newsfeed.css")'>
    <link rel='stylesheet' media='screen' href='@routes.Assets.at("stylesheets/bootstrap.min.css")'>
    <link rel='stylesheet' media='screen' href='@routes.Assets.at("stylesheets/bootstrap-theme.min.css")'>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
    <title>Profile</title>
</head>
<body>

    <div class="container" id="content">
        <div class = "row">
            <div class = "col-sm-3">
                <div class="sidebar-module sidebar-module-inset">
                    <h1>Profile picture</h1>
                    <ul class = "list-unstyled">
                        <li>Username</li>
                        <li><a href="#">Send Message</a></li>
                </div>
                <div class="sidebar-module" id="statistics">
                    <ul class = "list-unstyled">
                        <li>Challenges Answered: 235</li>
                        <li>Win Ratio: 56.4% </li>
                        <li>Level: 36</li>
                        <li>Average points bet: 420</li>
                        <li>Other stats?</li>
                    </ul>
                </div>
                <div class="sidebar-module">
                    <button class="btn btn-md btn-info">Challenge!</button>
                </div>
            </div>
            <div class = "col-sm-8 col-sm-offset-1">
                <h1 id="history-header">Match History</h1>
                <div class="content">
                    <ul id="newsfeed">
                        <li class="newsfeed-item">
                            <div class="challenger">
                                <p class="challenger-wager">Wager</p>
                                <div class="challenger-icon"></div>
                                <p class="challenger-name">Name</p>
                                <p class="challenger-level">LVL:</p>
                            </div>
                            <div class="challenge-content">
                                <h3 class="challenge-description">
                                    The challenge description goes here!
                                </h3>
                                <div class="challenge-stats">
                                    <div class="challenge-left-odds">
                                        <h4 class="challenge-left-percent">420%</h4>
                                    </div>
                                    <div class="challenge-right-odds">
                                        <h4 class="challenge-right-percent">420%</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="challenger">
                                <p class="challenger-wager">Wager</p>
                                <div class="challenger-icon"></div>
                                <p class="challenger-name">Name</p>
                                <p class="challenger-level">LVL:</p>
                            </div>
                        </li>
                        <hr class="newsfeed-separator">
                        <!--Just another copy of a newsfeed item for testing-->
                        <li class="newsfeed-item">
                            <div class="challenger">
                                <p class="challenger-wager">Wager</p>
                                <div class="challenger-icon"></div>
                                <p class="challenger-name">Name</p>
                                <p class="challenger-level">LVL:</p>
                            </div>
                            <div class="challenge-content">
                                <h3 class="challenge-description">
                                    The challenge description goes here!
                                </h3>
                                <div class="challenge-stats">
                                    <div class="challenge-left-odds">
                                        <h4 class="challenge-left-percent">420%</h4>
                                    </div>
                                    <div class="challenge-right-odds">
                                        <h4 class="challenge-right-percent">420%</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="challenger">
                                <p class="challenger-wager">Wager</p>
                                <div class="challenger-icon"></div>
                                <p class="challenger-name">Name</p>
                                <p class="challenger-level">LVL:</p>
                            </div>
                        </li>
                        <hr class="newsfeed-separator">
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>
</html>