@(validSignUp: Boolean)

<!DOCTYPE html>

<html>
<head>
	<title>Sign up</title>
	<link rel='stylesheet' media='screen' href='@routes.Assets.at("stylesheets/main.css")'>
	<link rel='stylesheet' media='screen' href='@routes.Assets.at("stylesheets/bootstrap.min.css")'>
	<link rel='stylesheet' media='screen' href='@routes.Assets.at("stylesheets/bootstrap-theme.min.css")'>
	<link rel='stylesheet' media='screen' href='@routes.Assets.at("stylesheets/login.css")'>
	<link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
	</head>
	<body>

		@helper.form(action = routes.Callouts.signUpPost(), 'class -> "form-signin", 'role -> "form") {
			<h2 class="form-signin-heading">Sign up for Callouts!</h2>
			@if(!validSignUp) {
				<p>Error signing up, this username might be taken</p>
			}
			<input type="text" class="form-control" placeholder="username" name="username" required autofocus>
			<input type="password" class="form-control" placeholder="password" name="password" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
			<br>
			<p>Already a member? <a href="/login">Log in</a></p>
		}
		<br>
	</body>
</html>